@model Reservas.Models.Lugares

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tecnicos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Livre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Livre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Regressar à lista", "Index")
</p>
